<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container">
  <h1> Post a New Job! </h1>
  <form action="/jobs" method="post">
    <label for="title">Job Title:</label>
    <input type="text" name="title" id="title" class="form-control"><br/>

    <label for="description">Job Description:</label>
    <input type="text" name="description" id="description" class="form-control"><br/>

    <label for="name">Posting Name:</label>
    <input type="text" name="name" id="name" class="form-control"><br/>

    <label for="email">Posting Email:</label>
    <input type="text" name="email" id="email" class="form-control"><br/>

    <label for="phoneNumber">Posting Phone Number:</label>
    <input type="number" name="phoneNumber" id="phoneNumber" class="form-control"><br/>

    <button type="submit" class="btn btn-success">Submit Job Posting!</button>
  </form>
</div>